@model BorisBot.Models.BaseModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ua">
<head>
    <title>Наразі пуста сторінка</title>
</head>
<body>
<div>
    @Model.Message
</div>
</body>
</html>